@import 'tailwindcss';

@theme {

--animate-fadeIn: fadeIn 1s ease-in-out forwards;
--animate-rotateCam: rotateCamera 2s ease-in-out infinite;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateCamera {
    from {
        transform: rotate(10deg);
    }
    to{
        transform: rotate(-10deg);
    }
}


@media print {
  @page {
    size: A6;
    margin: 0;
  }

  body {
    margin: 0;
  }

  .print-page {
    width: 105mm;
    height: 148mm;
  }
}

